body{
    background-color: rgb(245, 245, 245);
}

.container{
    background-color: white;
    border-radius: 5%;
    margin: auto;
    width: 80%;
    padding-bottom: 100px;
}
nav a{
    padding: 20px;
    color: grey;
    text-decoration: none;
    text-transform: capitalize;
    
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
nav a:hover{
    color: rgb(7, 7, 7);

}
nav{
   width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
    
}
.btn{
    height: 30px;
    border-style: none;
    border-radius:10% ;
    background-color:rgb(223, 120, 92);
}
.btn:hover{
    background-color:rgb(207, 52, 9);

}

.faq{
    padding: 10px ;
    text-align: center;
    font-size: 18px;
}
.faq h2{
    font-weight: 500px;
    font-size: 40px;

}
.box{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}
.box li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.box li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: whitesmoke;
    border-style: solid;
    border-radius: 5px;
    margin-bottom: 2px;
    position: relative;
}
label::after{
    content: "+";
    font-size: 34px;
    position: relative;
    left: 300px;
}
input[type="radio"]{
    display: none;
}
.box .content{
    background:whitesmoke ;
    text-align: center;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.box input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}
.footer{
    text-align: center;
}