body{
    background-color: rgb(245, 245, 245);
}

.container{
    background-color: white;
    border-radius: 5%;
    margin: auto;
    width: 80%;
    padding-bottom: 100px;
}
nav a{
    padding: 20px;
    color: grey;
    text-decoration: none;
    text-transform: capitalize;
    
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
nav a:hover{
    color: rgb(7, 7, 7);

}
nav{
   width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
    
}
.btn{
    height: 30px;
    border-style: none;
    border-radius:10% ;
    background-color:rgb(223, 120, 92);
}
.btn:hover{
    background-color:rgb(207, 52, 9);

}
.header{
    height: 40vh;
    background-image: url(images/pc.jpg) ;
    background-size: cover;
    background-position: center;
    padding : 10px ;
    position: relative;
    text-align: center;
    color: white;
}
.text{
    margin-top: 150px;
    color: rgb(250, 247, 247);
    
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first, .second{
    display: flex;
    flex-direction: row;
}
.form1{
    padding: 10px;
    align-items: center;
}